:root {
    --primary-color: rgb(237, 198, 131);
  }
  
  .btn {
    padding: 0.6rem 0.8rem;
    font-size: 1.2rem;
    text-align: center;
    border: 0;
    outline: none;
    border-radius: 10px;
    width: 120px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    cursor: pointer;
    font-family: "Montserrat SemiBold", sans-serif;
  }
  
  .btn.add {
    background-color: var(--primary-color);
    color: white;
    background: linear-gradient(to left, rgb(237, 198, 131), rgb(183, 116, 0));
  }
  
  .btn.remove {
    background-color: transparent;
    color: red;
    box-shadow: none;
  }
  
  .btn.checkout {
    background-color: rgb(183, 116, 0);
    width: 150px;
    color: #fff;
    font-size: 14px;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn.add:hover {
    background-color: #cab320;
  }
  
  .btn.add:active {
    background-color: #ad9a1c;
  }
  
  
  .btn.checkout:hover {
    background-color: rgb(151, 95, 0);
  }
  .btn.checkout:active {
    background-color: rgb(183, 116, 0);
  }